<div id="profile">

  <img src="{{avatarUrl}}" alt="Avatar" id="avatar">

  <p>
    <span>@{{username}}</span>
  </p>

  <ul>
    <li>
      <span>{{badges}}</span> Badges earned</li>
    <li>
      <span>{{javascriptPoints}}</span> JavaScript points</li>
    <li><a href="/">search again</a></li>
  </ul>

</div>