<div class="container">
  <div class="row">
    <h1>Nebula Content Editor</h1>
  </div>

  <div class="row">
    <p>{{introduction}}</p>
    <p>This course has been edited: {{edited}} times this session.</p>
  </div>

  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th>Property</th>
          <th>Current (Click to Edit)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Course Title</th>
          <td>
            <a href="#" editable-text="config.title">{{ config.title }}</a>
          </td>
        </tr>
        <tr>
          <th>Company</th>
          <td>
            <a href="#" editable-text="config.company">{{ config.company }}</a>
          </td>
        </tr>
        <tr>
          <th>Author</th>
          <td>
            <a href="#" editable-text="config.author">{{ config.author }}</a>
          </td>
        </tr>
        <tr>
          <th>Date Created</th>
          <td>{{ config.date_created }}</td>
        </tr>
      </tbody>
      <tfoot></tfoot>
    </table>
  </div>

  <div class="row">
    <text-angular ng-model="htmlContent" ng-change="edit()"></text-angular>
  </div>

  <div class="row">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Raw HTML</h3>
      </div>
      <div class="panel-body">
        {{htmlContent}}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Output</h3>
      </div>
      <div class="panel-body" ng-bind-html="htmlContent"></div>
    </div>
  </div>

</div>